*{
	font-family: 'Lato', sans-serif;
}

body{
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin:0;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#top-header{
	background-image: url(/images/circuit.jpg);
	background-size: cover;
	line-height: 3.5em;
	color: #fff;
}

#top-header h3{
	font-size: 40px;
	color: white;
	font-size: 40px;
	text-shadow: -1px 1px 0 #00663d,
				  1px 1px 0 #00663d,
				 1px -1px 0 #00663d,
				-1px -1px 0 #00663d;
}

#top-header h1{
	font-size: 40px;
	color: white;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

#other-headers{
	background-image: url(images/teal_amb.jpg);
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	line-height: 6em;
}

#main-photo{
	float: left;
	width: 35%;
	box-sizing: border-box;
	overflow: hidden;
	margin: auto;
	padding: 30px;
	padding-top: 40px;
}

#main-photo img{
	border: 10px solid #80ffbf;
	border-radius: 50%;
	height: 300px;
	width: auto;
	position: center;
}

#main-text{
	float: right;
	width: 60%;
	color: black;
	padding: 30px;
	box-sizing: border-box;
}

#hey{
	text-align: center;
	border-bottom: 5px solid #d9d9d9;
	padding-bottom: 18px;
	font-size: 1.6em;
}

#link-buttons {
	position: absolute;
	left: 40%;
	right: 50%;
	transform: translateX(50%) translateY(50%);
	white-space: nowrap;
}

#link-buttons button{
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	background-color: #669999;
	color: #00ff99;
	min-width: 180px;
	height: 50px;
	font-size: 20px;
}

#link-buttons button:hover{
	cursor: pointer;
}

#link-buttons button:visited{

}

#photos{
	height: 250px;
	width: auto;
}

.photo-block{
	float:left;
	display: inline;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 50px;
	box-sizing: border-box;
	box-decoration-break: 50px;
}

#main-footer{
	text-align: center;
}